services:
    redis:
      image: redis:7.4-alpine
      restart: always
      ports:
        - "6380:6380"
      command: ["redis-server", "--appendonly", "yes"]
      volumes:
        - cache:/data

    redis-setup:
      image: redis:7.4-alpine
      depends_on:
        - redis
      restart: no
      entrypoint: sh -c "until redis-cli -h redis ping; do sleep 1; done; redis-cli -h redis SET app:version 1.0.0; redis-cli -h redis HSET challenge:transporte:1 1 '1,2,2' 2 '1,3,3' 3 '2,3,5' 4 '2,4,10' 5 '1,4,11' 6 '4,5,5' 7 '2,5,14' 8 '6,7,32' 9 '8,9,11' 10 '10,7,5' 11 '3,8,10' 12 '5,8,30' 13 '10,5,5' 14 '4,6,6';"

    transporte:
      image: transporte:latest
      depends_on:
        - "redis"
        - "redis-setup"
      ports:
        - "8082:8082"
      build:
        context: .
        dockerfile: ./Dockerfile
volumes:
  cache: