version: "3"
services:
    redis:
      image: redis:7.4-alpine
      restart: always
      ports:
        - "6379:6379"
      command: ["redis-server", "--requirepass", "testPw"]
      volumes:
        - cache:/data

    puntos_de_venta:
      image: puntos_de_venta:latest
      depends_on:
        - redis
      ports:
        - "8081:8081"
      build:
        context: .
        dockerfile: ./Dockerfile
volumes:
  cache: