version: "3"
services:
    redis:
      image: redis:7.4-alpine
      restart: always
      ports:
        - "6379:6379"
      command: redis-server --save 20 1 --loglevel warning --requirepass testPw
      volumes:
        - cache:/data

    puntos_de_venta:
      image: puntos_de_venta:latest
      build:
        context: .
        dockerfile: ./Dockerfile
volumes:
  cache:
    driver: local